.top{
    width:100%;
    height: 50px;
    background-color: #fff;
    position: sticky;
    top:0;
    display:flex;
    align-itens:center;
    font-family: 'Josefin Sans', sans-serif;
    z-index:999;
}
.topLeft, .topRight {
    flex: 3;
    display:flex;
    align-items:center;
    justify-content:center;
}
.topCenter{
    flex: 6;
    display:flex;
    align-items:center;
    justify-content:certer;
}
.topIcons{
    font-size:30px;
    margin-right:10px;
    color:#444;
    cursor:center;
}
.topImg{
    width:45px;
    height:45px;
    border-radius:50%;
    object-fit:cover;
}
.topList{
    display:flex;
    justify-content:center;
    margin:0px;
    padding:0px;
    list-style:none;
}
.topListItem{
    margin-right:20px;
    font-size:18px;
    font-weight:450;
    cursor:ponter;
    color:#444;
}
.topSearchIcon{
    font-size:18px;
    color:#666;
    margin-left:15px;
}


